@import "normalize.css";

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  // --font-bold-inter: 700;
  --background-start-rgb: 214, 219, 220;

  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --accent-color: #ff5f1b;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  font-family: var(--font-inter);
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
}
a,
.link {
  text-decoration: none;
  color: inherit;
}

.list,
ul {
  list-style: none;
}

.section {
  width: 100%;

  @media screen and (max-width: 1199.98px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

Image {
  display: block;
  max-width: 100%;
  height: auto;
}

// Swiper

.swiper {
  height: 310px !important;

  @media screen and (min-width: 768px) {
    height: 360px !important;
  }

  @media screen and (min-width: 1200px) {
    height: 410px !important;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--accent-color) !important;
  top: 40% !important;
}

.swiper-pagination-bullet-active {
  background: var(--accent-color) !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0 !important;
}

.swiper-pagination {
  position: sticky !important;
}

.swiper-slide {
  height: 250px !important;

  @media screen and (min-width: 768px) {
    height: 300px !important;
  }

  @media screen and (min-width: 1200px) {
    height: 350px !important;
  }
}
