.description {
  font-size: 24px;
}

/* Mobile */
@media (max-width: 700px) {
  .description {
    color: green;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .description {
    color: pink;
  }
}
