@import '../../sass-partial/placeholder';

.logo {
  padding: 15px;
  border-radius: 10px;
  @extend %fontAmaranth-regular;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  transition: color var(--main-transition);

  span {
    font-style: italic;
  }
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
